@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("./images/main5.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation {
  width: 80%;
  padding: 40px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}

.header .navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .nav ul .links {
  list-style: none;
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.header .navigation .nav ul .links a {
  text-decoration: none;
  color: #3b3b3b;
}

.header .navigation .nav ul .links a.active {
  color: azure;
}

.header .navigation .nav .cart {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 5px 8px;
}

.header .navigation .nav .cart:hover {
  background: rgba(235, 235, 235, 0.651);
}

.header .navigation .nav .cart img {
  width: 24px;
  height: 24px;
}

.header .navigation .nav .cart__count {
  position: relative;
  right: 20px;
  top: 10px;
  padding: 2px 6px;
  background: black;
  color: white;
  border-radius: 50%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.header .c-msg {
  position: relative;
  top: 30%;
  letter-spacing: 2px;
  right: 30%;
  font-size: 20px;
  text-decoration: none;
  color: purple;
  padding: 10px 20px;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.header .c-msg:hover {
  background: purple;
  border: 1px solid purple;
  color: white;
}

.header.shop {
  background: url("./images/main6.jpg");
}

.header.shop .navigation > .nav > ul > .links > a.active {
  color: purple;
}

.content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.content__wrapper .content__area {
  width: 80%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__wrapper .content__area .ct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

.content__wrapper .content__area .ct .left, .content__wrapper .content__area .ct .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1em;
  padding: 0px 1em 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__wrapper .content__area .ct .left img, .content__wrapper .content__area .ct .right img {
  width: 80%;
}

.content__wrapper .content__area .ct .left .price, .content__wrapper .content__area .ct .right .price {
  font-size: 20px;
  margin-top: 0.6em;
  font-weight: 600;
  color: #666666;
}

.content__wrapper .content__area .ct .left .text, .content__wrapper .content__area .ct .right .text {
  text-align: justify;
  margin-top: 0.6em;
}

.content__wrapper .content__area .ct .left .product, .content__wrapper .content__area .ct .right .product {
  margin-top: 0.6em;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: purple;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content__wrapper .content__area .ct .left .product:hover, .content__wrapper .content__area .ct .right .product:hover {
  background: purple;
  border: 1px solid purple;
  color: white;
}

.products {
  width: 100%;
  padding: 2em 2em 4em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products h1 {
  margin: 2em 0;
}

.products .product__area {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.products .product__area .product__card {
  padding: 1em;
}

.products .product__area .product__card img {
  width: 100%;
}

.products .product__area .product__card .product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .product__area .product__card .product__info .text h3 {
  text-transform: capitalize;
  color: black;
  margin-top: 0.6em;
}

.products .product__area .product__card .product__info .text .price {
  color: #666666;
}

.products .product__area .product__card .product__info .view {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: purple;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: fit-content;
}

.products .product__area .product__card .product__info .view:hover {
  background: purple;
  border: 1px solid purple;
  color: white;
}

.products .product__area .product__card .product__info .view.sold {
  color: red;
}

.products .product__area .product__card .product__info .view.sold:hover {
  background: #f74343;
  border: 1px solid #f74343;
  color: white;
}

.header.product {
  background: #f0f1f3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.product__show {
  width: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__show .product__display {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__show .product__display .product__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product__show .product__display .product__photo img {
  width: 100%;
}

.product__show .product__display .product__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 2em;
}

.product__show .product__display .product__info h1 {
  text-transform: capitalize;
  margin-top: -0.2em;
}

.product__show .product__display .product__info p {
  margin-top: 0.6em;
  color: #666666;
  font-size: 14px;
}

.product__show .product__display .product__info h2 {
  margin-top: 0.6em;
}

.product__show .product__display .product__info button {
  margin-top: 1em;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid grey;
  outline: none;
  color: #e67689;
  background: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.product__show .product__display .product__info button:hover {
  background: #e67689;
  border: 1px solid #e67689;
  color: white;
  cursor: pointer;
}

.cart__area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.cart__area .cart__show {
  width: 60%;
  padding: 1em 0;
}

.cart__area .cart__show .cart__item {
  width: 100%;
  padding: 10px;
  margin: 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 1px solid #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__area .cart__show .cart__item .item__photo {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

.cart__area .cart__show .cart__item .item__photo img {
  width: 100%;
}

.cart__area .cart__show .cart__item .item__info {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  padding-left: 1em;
}

.cart__area .cart__show .cart__item .item__info h2 {
  margin-top: -0.2em;
  text-transform: capitalize;
}

.cart__area .cart__show .cart__item .item__info .desc {
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart__area .cart__show .cart__item .item__info .count {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__area .cart__show .cart__item .item__info .count h3 {
  margin-right: 2em;
}

.cart__area .cart__show .cart__item .item__info .count button, .cart__area .cart__show .cart__item .item__info .count span {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cart__area .cart__show .cart__item .item__info .count span {
  border: 1px solid grey;
}

.cart__area .cart__show .cart__item .item__info .total {
  margin-top: 0.6em;
}

.cart__area .cart__show .cart__item:hover {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: black 2px 2px 2px;
          box-shadow: black 2px 2px 2px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=index.css.map */