@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("./images/main5.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation {
  width: 80%;
  padding: 40px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}

.header .navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .nav ul .links {
  list-style: none;
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.header .navigation .nav ul .links a {
  text-decoration: none;
  color: #3b3b3b;
}

.header .navigation .nav ul .links a.active {
  color: azure;
}

.header .navigation .nav .cart {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 5px 8px;
}

.header .navigation .nav .cart:hover {
  background: rgba(235, 235, 235, 0.651);
}

.header .navigation .nav .cart img {
  width: 24px;
  height: 24px;
}

.header .navigation .nav .cart__count {
  position: relative;
  right: 20px;
  top: 10px;
  padding: 2px 6px;
  background: black;
  color: white;
  border-radius: 50%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.header .c-msg {
  position: relative;
  top: 30%;
  letter-spacing: 2px;
  right: 30%;
  font-size: 20px;
  text-decoration: none;
  color: purple;
  padding: 10px 20px;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.header .c-msg:hover {
  background: purple;
  border: 1px solid purple;
  color: white;
}

.content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.content__wrapper .content__area {
  width: 80%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__wrapper .content__area .ct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

.content__wrapper .content__area .ct .left, .content__wrapper .content__area .ct .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1em;
  padding: 0px 1em 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__wrapper .content__area .ct .left img, .content__wrapper .content__area .ct .right img {
  width: 80%;
}

.content__wrapper .content__area .ct .left .price, .content__wrapper .content__area .ct .right .price {
  font-size: 20px;
  margin-top: 0.6em;
  font-weight: 600;
  color: #666666;
}

.content__wrapper .content__area .ct .left .text, .content__wrapper .content__area .ct .right .text {
  text-align: justify;
  margin-top: 0.6em;
}

.content__wrapper .content__area .ct .left .product, .content__wrapper .content__area .ct .right .product {
  margin-top: 0.6em;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: purple;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content__wrapper .content__area .ct .left .product:hover, .content__wrapper .content__area .ct .right .product:hover {
  background: purple;
  border: 1px solid purple;
  color: white;
}
/*# sourceMappingURL=index.css.map */